@model Account


<div class="card border-primary mb-3 justify-content-center" style="max-width: 34rem;">
    <div class="card-header text-center"><h4>SignIn</h4></div>
    <div class="card-body">
        <div class="row">
<form asp-action="Signin" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Signin</button>
</form>
</div>
</div>
</div>
